.usWrap{
    position: relative;
    top:-5px;
    width: 100%;
    background-color: #F6F6F6;
}
.usContent{
    position: relative;
    z-index: 999;
    top:-135px;
    width: 1120px;
    margin: 0 auto;
}
.navWraps{
    position: relative;
    z-index: 3;
    width: 160px;
    height: 395px;
}
.test:hover{
    color: #5298D3;
    border-left: 2px solid #5298D3;
}
.test{
    width: 160px;
    height: 66px;
    text-align: center;
    font-size: 16px;
    line-height: 66px;
    margin-bottom: 1px;
    background-color: #ffffff;
    margin-top: -5px;
    color: #666666;
}
.lis{
    line-height: 66px;
    font-size: 16px;
    width: 160px;
    height:66px;
    margin-bottom: 1px;
    background-color: #fff;
    text-align: center;
    color: #666666;
}
.start2{
    text-decoration: none;
    color: #666666;
}

.lis:hover{
    border-left:2px solid #5296CE ;
    color:#5296CE
}

.active2{
    text-decoration: none;
    color: #5296CE;
}
.props {
    position: relative;
    z-index: 3;
    width: 936px;
    background-color: #ffffff;
    margin-left: 184px;
    margin-top: -395px;
    padding-top: 61px;
    padding-left: 64px;
}

