.line2{
    width: 220px;
    height: 1px;
    margin: 0 auto;
    background-color: #D8D8D8;
    margin-bottom: 23px;
}
.line3{
    width: 220px;
    height: 1px;
    margin: 0 auto;
    background-color: #D8D8D8;
    margin-bottom: 23px;
}
.line4{
    width:80px;
    height:2px;
    background-color:#4F99D2;
    border-radius: 100px;
    margin: 0 auto;
}
.fast{
    padding-top: 32px;
    padding-left: 25px;
    margin-bottom: 22px;
}
.save{
    padding-left: 25px;
    margin-bottom: 33px;
}
.quality{
    padding-left: 25px;
}
.fastWenzi{
    margin-top: -42px;
    padding-left: 59px;
}
.saveWenzi{
    margin-top: -30px;
    padding-left: 59px;
}
.ball{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #4F99D2;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
}
.bannerContentWenzi{
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
    line-height: 18px;
}
.p1{
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 32px;
    padding-top: 20px;
}
.p2{
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 32px;
    padding-bottom: 14px;
}
.banner{
    position: absolute;
    z-index: 3;
    left: 64%;
    top:3%;
}
.bannerHeader{
    position: relative;
    z-index: 2;
    width: 290px;
    height: 90px;
    opacity: 0.9;
    background-color: #5298D3;
}
.bannerContent{
    position: relative;
    top: -9px;
    width: 290px;
    height: 273px;
    opacity: 0.9;
    background: #FFFFFF;
}
.homeWrap{
   min-width: 1200px;
}
.serviceWrap{
    position:relative;
    width:100%;
    height:480px;
    background-color:#fff;
}
.aluServers{
    width: 1120px;
    height: 284px;
    margin: 0 auto;
}
.aluServersTitle{
    width: 287px;
    height: 79px;
    margin: 0 auto;
    text-align: center;
    margin-top: 58px;
    margin-bottom: 39px;
}
.effects{
    display: inline-block;
    width: 373px;
    height: 284px;
}
.effects2{
    margin-left: -3px;
}
.imgEffects{
    margin-left:19px;
    margin-top:-144px;
    transition: .5s;
}
.effects:hover .imgEffects{
    box-shadow:2px 2px 1px 1px rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: .5s;
}
.mapWrap{
    position: relative;
}
.mapBG{
    position:relative;
    width:2500px;
    height:800px;
    background-image: url("./dotBG.png");
    background-size: 100% 100%;
    text-align: center;
    min-width: 1200px;
}
.mpamWrap{
    width:1013px;
    height:691px;
    margin: 0 auto;
}
.map{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 77px;
}
.mapTitle{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:58px;
    width: 157px;
    height: 79px;
}
.mapIntroduce{
    width: 258px;
    height: 188px;
    margin-left: 754px;
    margin-top: -220px;
}
.introduceContent{
    position: relative;
    width: 250px;
    height: 130px;
    background-image: url("./border.png");
    background-size: 100% 100%;
}
.small{
    position: relative;
    z-index: 99999;
    width:16px;
    height:23px;
}
.small1{
    border-top: 1px solid rgba(0,0,0,0.68);
    border-left:1px solid rgba(0,0,0,0.68) ;
}
.small2{
    position: absolute;
    right: 0;
    bottom: 0;
    border-right: 1px solid rgba(0,0,0,0.68);
    border-bottom:1px solid rgba(0,0,0,0.68) ;
    opacity: 0.68;
}
.smallContent{
    margin-top: -8px;
    margin-left: 21px;
    width: 216px;
    height: 112px;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
}