.homeWrap{
   min-width: 1200px;
}
.serviceWrap{
    position:relative;
    width:100%;
    height:590px;
    background-color:#fff;
}
.bgImg{
    width: 100%;
    height:800px;
    text-align: center;
    background-color: #F4F4F4;
    padding-top: 40px;
}
.blue{
    margin-top: -125px;
}
.hide1{
    transition: .5s;
}
.hide2{
    transition: .5s;
}
.hide3{
    transition: .5s;
}
.show1:hover .hide1{
    transform: scale(1.05);
    transition: .5s;
}
.show2:hover .hide2{
    transform: scale(1.05);
    transition: .5s;
}
.show3:hover .hide3{
    transform: scale(1.05);
    transition: .5s;
}