.mediaWrap{
    position:relative;
    width:100%;
    height:590px;
    background-color:#EDF5FC;
    text-align: center;
    min-width: 1200px;
}
.media{
    transition: .5s;
}
.media:hover{
    transform: scale(1.1);
    transition: .5s;
}